//
//  SecretKeys.xcconfig
//  FunChat
//
//  Created by Can Yoldaş on 28.08.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = 12314
FIREBASE_URL = com.googleusercontent.apps.304995331605-hsriedof7rgb9hrjlo9ceh1q3em6njhh
